# Файлы кэша Python (автоматически создаются при запуске, это мусор)
__pycache__/
*.pyc
*.pyo

# Временные файлы операционной системы
.DS_Store  # (если ты на MacOS)
Thumbs.db  # (если ты на Windows)

# Файлы настроек твоего редактора кода (PyCharm, VSCode)
.idea/
.vscode/
*.swp
*.swo

# Файлы с паролями и ключами (на будущее)
config_secrets.py
*.key
.env

# Папка с сохранениями игроков (чтобы твои тестовые сейвы не попали в репозиторий)
/saves/

# Информация по игру
INFO.txt
